.balans {
    color: white;
    font-size: 20px;
}

.balans__info, .balans__sum {
    padding-right: 10px;
}

.balans__sum {
    font-weight: 500;
}

.balans__val > .label_theme_alfa-on-white {
    color: white;
}
