.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
}

.dashboard__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
